#perguntas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
    width: 100%;
}
@media (max-width: 900px) {
    #perguntas {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}
.pergunta {
    background-color: var(--corMesclada);
    border: 2px solid var(--corTexto);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}
.pergunta p {
    margin: 10px 30px 20px 30px;
}
.pergunta input {
    display: none;
}
.grid {
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 10px;
    width: 100%;
}
@media (max-width:500px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .pergunta p {
        margin: 10px 10px 20px 10px;
    }
}
.radio-button, input, textarea {
    background-color: var(--corDestaque);
    height: 70px;
    border-radius: 4px;
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--corPrincipal);
    padding: 20px;
    cursor: pointer;
    border: none;
}
.radio-button:hover, input:hover {
    opacity: 70%;
    transform: scale(1.01, 1.025);
}
input[type="radio"]:checked + .radio-button {
    background-color: var(--corPrincipal);
    border: 2px solid var(--corDestaque);
    color: var(--corDestaque);
}
input {
    border: none;
    font-size: 1.10em;
}
form input:active {
    opacity: 40%;
}
form > .grid {
    margin: 20px 0;
}
.pergunta input[type="number"],  .pergunta input[type="text"], .pergunta input[type="submit"], .pergunta input[type="reset"]{
    display: inline-block;
}
.cadastro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}
#questoes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    align-items: baseline;
    width: 100%;
    gap: 10px;
}
.campo {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    height: fit-content;
}
input, textarea {
    width: 100%;
    height: fit-content;
    font-size: 1em;
}
.campo textarea {
    height: 150px;
    max-height: 200px;
    max-width: 100%;
    resize: none;
}
*::placeholder {
    color: var(--corPrincipal);
    opacity: 50%;
    font-size: 0.75em;
}
input[type="number"]::-webkit-inner-spin-button,  input[type="number"]::-webkit-outer-spin-button{
    display: none;
}
main > .pergunta {
    margin-top: 10px;
    width: 70%;
}
#opcoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
}
.opcoes-certas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    
}
.cadastro section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border: 2px solid var(--corTexto);
    border-radius: 4px;
    height: fit-content;
}
.opcao {
    background-color: var(--corPrincipalOpaca);
    padding: 10px;
    border: 2px solid var(--corTexto);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.opcoes-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form header > *{
    margin: 0 !important;
    font-weight: bold;  
}
form header {
    flex-direction: column;
    position: relative;
    height: fit-content;
    border: none;
    border-radius: 4px;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    z-index: inherit;
    box-shadow: none;
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.input-texto {
    cursor: text !important;
}