#resultado {
    background-color: var(--corMesclada);
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 300px;
    border: 2px solid var(--corTexto);
    border-radius: 8px;
    gap: 20px;
}
#resultado li, #resultado a {
    background-color: var(--corDestaque);
    min-height: 40px;
    max-height: fit-content;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: var(--corPrincipal);
}

#resultado #nota + div {
    width: 50%;
    overflow-y: scroll; 
    padding-right: 10px;  
}
#resultado #nota + div::-webkit-scrollbar {
    opacity: 0;
    width: 10px;
}
#resultado #nota + div::-webkit-scrollbar-track-piece {
    background-color: var(--corPrincipal);
    border-radius: 10px;
}
#resultado #nota + div::-webkit-scrollbar-button {
    display: none;
}
#resultado #nota + div::-webkit-scrollbar-thumb {
    background-color: var(--corDestaque);
    border-radius: 10px;
}
#resultado #nota + div::-webkit-scrollbar-thumb:hover {
    background-color: var(--corDestaqueOpaca);
}
#resultado ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 25px;
}
#resultado #nota {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
#resultado #nota * {
    margin: 0;
}
#resultado > * {
    height: 100%;
}

#resultado h2 {
    font-weight: bold;
}
#resultado a {
    border: none;
    width: 100%;
    height: 60px;
}
#resultado a:hover, #resultado li:hover {

    opacity: 70%;
}
@media (max-width:800px) {
    #resultado {
        flex-direction: column;
        width: 80%;
        height: 500px;
    }
    #resultado #nota, #resultado #nota + div {
        width: 100%;
    }
    #resultado #nota + div li {
        width: 100%;
    }
}
summary {
    display: block;
    width: 100%;
    padding: 7px;
    cursor: pointer;
    font-weight: bold;
}
details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
details .details-content {
    display: none;
}
details[open] .details-content{
    display: block;
}
.details-content {
    background-color: var(--corPrincipalOpaca);
    border-radius: 4px;
    margin: 10px;
    margin-top: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--corTexto);
}
.res-certa p{
    display: block;
}
.res-certa {
    background-color: var(--corDestaque);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    color: var(--corPrincipal);
}